extends layout
block content
    .container
        #toolbar.row.center-align
            .col.s12.m12.l12
                span.hide
                    input#upload(type="file")

                input#uploadButton.btn.waves-effect.waves-light.orange(type="button", value="Upload Picture!")
                input#bold.btn.waves-effect.waves-light.orange(type="button", value="Bold")
                input#italicize.btn.waves-effect.waves-light.orange(type="button", value="Italicize")

        .row
            .col.s12.m12.l12
                .p Shared Images
                #imageRow.card-panel.z-depth-1
        .row(justify-content="center")
        .col.s12.m12.l12
                #doc.card-panel.z-depth-3
                    canvas#e
                textarea(id="editor")
