doctype html
html
    head
        title Real Time Text Editor
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.js")
        script(type="text/javascript" src="/javascripts/client.js")
    body
        .navbar-fixed
            nav.blue.darken-2(role="navigation")
                .nav-wrapper.container
                    a.brand-logo(href="#").center Real Time Text Editor
                    ul#nav-mobile.right.hide-on-med-and-down
                        li
                            a(href="#")

        block content

        footer.page-footer.blue.darken-2
            .container
                .row
                    .col
                        h5.white-text About SmartEdit
                        p.white-text SmartEdit is an online real time collaborative text editor developed by a team of computer science students at Carleton University as a COMP 3203 end of term project


