


#toolbar{
    margin-top: 20px;
    background-color: white;
    align-content: center;

}
#upload{
}
#doc{
    margin-top: 40px;
}
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
footer {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
